.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#id_honeypot {
    display: none;
}

#wrapper{ 
    background: cornflowerblue;
}
.derecha {
    padding-top: 20px;
    margin-left: 15%;
    background: aquamarine;
}

.izquierda {
    float: left;
    background: lightblue;
    
}