{% extends "moduloNC/base.html" %}

{% block content %}
  <h1>Análisis de causa: {{ analisiscausa.pk }}</h1>

  <p><strong>Autor:</strong> <p>{{ analisiscausa.autor }}</p> 
  <p><strong>De la NC:</strong> {{ analisiscausa.nc }}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Desarrollo:</h4>
    <p> {{ analisiscausa.descr }}</p>  
  </div>

  {% if analisiscausa.publicado%}
    <p>Esta Acción Inmediata  está publicada</p>
  
  {% else %}
    <p>Esta acción inmediata no está publicada.</p>
  {% endif %}
  


  {% if user.is_authenticated %}

    
    <a href="{% url 'Analisis-edit' pk=analisiscausa.pk %}">Editar este análisis de causa.</a>

  {% endif %}

  {% for group in user.groups.all %}
    {% if group.name == 'Editor_Responsable' %}
    <br>
    <a href="{% url 'Analisis-publicar' pk=analisiscausa.pk %}">Publicar este análisis de causa.</a>          
    {% endif %}
  {% endfor %}
  
{% endblock %}